<p>Beste <%= @resource.email %>!</p>

<p>U heeft een link aangevraagd om uw wachtwoord te wijzigen.</p>

<p><%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Gelieve deze mail te negeren als u geen nieuw wachtwoord hebt aangevraagd.</p>
